---
import { getCollection, type CollectionEntry } from "astro:content";
import { slide } from "astro:transitions";
import Layout from "@/layouts/Layout.astro";
import PostTags from "@/components/PostTags.astro";
import PostCoverImage from "@/components/PostCoverImage.astro";
import PostInfo from "@/components/PostInfo.astro";
import Comments from "@/components/Comments.astro";

export const getStaticPaths = async () => {
	const blogs = await getCollection("blogs");
	return blogs.map((blog) => {
		return {
			params: {
				slug: blog.slug,
			},
			props: { blog },
		};
	});
};

type Props = {
	blog: CollectionEntry<"blogs">;
};

const { blog } = Astro.props;
const { Content } = await blog.render();

const { title, excerpt, coverImage, publishedDate, tags, author, avatar } =
	blog.data;

const wordCount = blog.body.split(/\s+/).length;
---

<Layout title={title} description={excerpt} image={coverImage.src}>
	<main transition:animate={slide({ duration: "0.2s" })} class="mx-auto">
		<article>
			<PostCoverImage coverImage={coverImage} />
			<div
				class="mx-auto my-3 max-sm:px-4 sm:max-w-sm md:max-w-xl lg:max-w-3xl"
			>
				<h1
					class="text-center text-xl font-semibold md:text-3xl lg:text-4xl"
				>
					{blog.data.title}
				</h1>
				<PostInfo
					avatar={avatar}
					author={author}
					publishedDate={publishedDate}
					wordCount={wordCount}
				/>
				<PostTags tags={tags} />
			</div>
			<div
				class="prose text-muted prose-headings:text-foreground prose-a:text-blue-400 relative mx-auto my-10 mb-20 overflow-visible max-sm:px-4 sm:max-w-sm md:max-w-xl lg:max-w-3xl"
			>
				<Content />
			</div>
			<Comments />
		</article>
	</main>
</Layout>
