---
import { getCollection, type CollectionEntry } from "astro:content";
import { slide } from "astro:transitions";
import Layout from "@/layouts/Layout.astro";
import PostTags from "@/components/PostTags.astro";
import PostCoverImage from "@/components/PostCoverImage.astro";
import PostInfo from "@/components/PostInfo.astro";

export const getStaticPaths = async () => {
	const blogs = await getCollection("blogs");
	return blogs.map((blog) => {
		return {
			params: {
				slug: blog.data.slug,
			},
			props: { blog },
		};
	});
};

type Props = {
	blog: CollectionEntry<"blogs">;
};

const { blog } = Astro.props;
const {
	title,
	excerpt,
	content,
	coverImage,
	publishedDate,
	tags,
	author,
} = blog.data;

const wordCount = content
	.replace(/<[^>]+>/g, "")
	.trim()
	.split(/\s+/).length;
---

<Layout title={title} description={excerpt} image={coverImage?.url}>
	<main transition:animate={slide({ duration: "0.2s" })} class="mx-auto">
		<article>
			<PostCoverImage coverImage={coverImage} />
			<div
				class="mx-auto my-3 max-sm:px-4 sm:max-w-sm md:max-w-xl lg:max-w-3xl"
			>
				<h1
					class="text-center text-xl font-semibold md:text-3xl lg:text-4xl"
				>
					{blog.data.title}
				</h1>
				<PostInfo
					author={author}
					publishedDate={publishedDate}
					wordCount={wordCount}
				/>
				<PostTags tags={tags} />
			</div>
			<div
				class="prose text-muted prose-headings:text-foreground relative mx-auto my-10 mb-20 overflow-visible max-sm:px-4 sm:max-w-sm md:max-w-xl lg:max-w-3xl"
				set:html={content}
			/>
		</article>
	</main>
</Layout>
